<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <style>
        ul {
            list-style-type: none;

        }

        li {
            display: inline;
        }
        p {
            margin-right: 300px;
        }
    </style>
</head>
<body>
<ul>
    <li><a href="home">Home</a> </li>
    <li><a href="analyse">Submission</a> </li>
    <li><a href="history">History</a> </li>
</ul>
<!--The style is edited since the resulting page would otherwise have a big textbox that
    stretches to both sides of the page.-->
<p>This database contains the reports of the previous 5 analyses. While it wouldn't make
    sense for this database to contain up to 10 primers, it is justified, since the
 intermolecular identity is calculated (and thus dependent) on a primer sequence that wouldn't
 be visible if only one of the two primers was stored. The Second primer for an analysis is
 stored directly below the first primer. For analysis with only 1 primer, the intermolecular
 identity is left blank. Meaning that the primer below it is the start of a new analysis and
 NOT part of the same analysis.</p>
<table>
    <tr>
        <th>Name</th>
        <th>GC%</th>
        <th>Meltingpoint</th>
        <th>Homopolymer</th>
        <th>Intermolecular identity</th>
        <th>Intramolecular identity</th>
        <th>Sequence</th>
    </tr>
<!--At first glance it should be possible to use a second loop that loops through
    submissions.getSubmissions, however when using this code the resulting website
    put all instances sideways (so the table had as first instance all the primer names
    the second had all GC%, etc.). While this was probably a logical error, there was
     too little time left for this project to fix it.-->
<tr th:each="primer:${submissions.getSubmissions()[0]}">
    <td  th:text="${primer.getName()}"></td>
    <td th:text="${primer.getGc()}"></td>
    <td th:text="${primer.getMeltpoint()}"></td>
    <td th:text="${primer.getHomopolymer()}"></td>
    <td th:text="${primer.getInteridentity()}"></td>
    <td th:text="${primer.getIntraidentity()}"></td>
    <td th:text="${primer.getSequence()}"></td>

</tr>
    <tr th:each="primer:${submissions.getSubmissions()[1]}">
        <td  th:text="${primer.getName()}"></td>
        <td th:text="${primer.getGc()}"></td>
        <td th:text="${primer.getMeltpoint()}"></td>
        <td th:text="${primer.getHomopolymer()}"></td>
        <td th:text="${primer.getInteridentity()}"></td>
        <td th:text="${primer.getIntraidentity()}"></td>
        <td th:text="${primer.getSequence()}"></td>
    </tr>
    </tr>
    <tr th:each="primer:${submissions.getSubmissions()[2]}">
        <td  th:text="${primer.getName()}"></td>
        <td th:text="${primer.getGc()}"></td>
        <td th:text="${primer.getMeltpoint()}"></td>
        <td th:text="${primer.getHomopolymer()}"></td>
        <td th:text="${primer.getInteridentity()}"></td>
        <td th:text="${primer.getIntraidentity()}"></td>
        <td th:text="${primer.getSequence()}"></td>
    </tr>
    </tr>
    <tr th:each="primer:${submissions.getSubmissions()[3]}">
        <td  th:text="${primer.getName()}"></td>
        <td th:text="${primer.getGc()}"></td>
        <td th:text="${primer.getMeltpoint()}"></td>
        <td th:text="${primer.getHomopolymer()}"></td>
        <td th:text="${primer.getInteridentity()}"></td>
        <td th:text="${primer.getIntraidentity()}"></td>
        <td th:text="${primer.getSequence()}"></td>
    </tr>
    </tr>
    <tr th:each="primer:${submissions.getSubmissions()[4]}">
        <td  th:text="${primer.getName()}"></td>
        <td th:text="${primer.getGc()}"></td>
        <td th:text="${primer.getMeltpoint()}"></td>
        <td th:text="${primer.getHomopolymer()}"></td>
        <td th:text="${primer.getInteridentity()}"></td>
        <td th:text="${primer.getIntraidentity()}"></td>
        <td th:text="${primer.getSequence()}"></td>
    </tr>
</table>
<p>NOTE: The example sequences were randomly
created, so only the last two primers have actual intermolecular identity with each other.</p>
</body>
</html>