<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sumbit primer</title>
    <style>
        ul {
            list-style-type: none;

        }

        li {
            display: inline;
        }
        p {
            margin-right: 300px;
        }
    </style>
</head>
<body>
<ul>
    <li><a href="home">Home</a> </li>
    <li><a href="analyse">Submission</a> </li>
    <li><a href="history">History</a> </li>
</ul>

<p>This tab is used to submit primer(s) to analyse. In order to submit a primer it should be
given an appropriate name and sequence. The sequence should be formatted using "3'-(sequence)-'5"
 or "5'-(sequence)-'3". This is becomes relevant when calculating the intermolecular identity.
 If you wish to submit only 1 primer, please submit it using the primer 1 fields. After
 submitting the primers the report will be posted in the table below the form. If anything wrong
 was found with the primers it will also be reported below the form.</p>
<!--While css could have been used to create a better looking form, the form itself looks
    passable already, so no further css was added.-->
<form>
    <label for="Phead1">Primer name 1</label>
    <input type="text" name="head1" id="Phead1" required>
    <label for="Phead2">Primer name 2</label>
    <input type="text" name="head2" id="Phead2"><br><br>
    <label for="Seq1">Sequence 1</label>
    <textarea name="seq1" id="Seq1" placeholder="Sequence1" required></textarea>
    <label for="Seq2">Sequence 2</label>
    <textarea name="seq2" id="Seq2" placeholder="Sequence2"></textarea>
    <input type="submit">
</form>
<p th:if="${warning != ''}" th:text="${'Warning: ' + warning}">warnings can appear here</p>
<!--The table was supposed to be hidden until the user filled out the form. However, it
    was decided to make the table visible, since it gives to user a place to focus their
    attention on after the form was filled. Since they know that the resulting data will
    be added there.-->
<table>
    <tr>
        <th>Primer</th>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <!--Since the primers aren't part of a Submission class yet, it is impossible to
    set up a loop that fills in the table for each primer.-->
    <tr>
        <td th:text="${prime1.name}"></td>
        <td>GC%</td>
        <td th:text="${prime1.getGc()}"></td>
    </tr>
    <tr>
        <td th:text="${prime1.name}"></td>
        <td>Meltingpoint</td>
        <td th:text="${prime1.getMeltpoint()}"></td>
    </tr>
    <tr>
        <td th:text="${prime1.name}"></td>
        <td>Homopolymer</td>
        <td th:text="${prime1.getHomopolymer()}"></td>
    </tr>
    <tr>
        <td th:text="${prime1.name}"></td>
        <td>Intramolecular identity</td>
        <td th:text="${prime1.getIntraidentity()}"></td>
    </tr>
    <tr th:if="${warning ==''}">
        <td th:text="${prime1.name}"></td>
        <td>Intermolecular identity</td>
        <td th:text="${prime1.getInteridentity()}"></td>
    </tr>
    <tr>
        <td th:text="${prime2.name}"></td>
        <td>GC%</td>
        <td th:text="${prime2.getGc()}"></td>
    </tr>
    <tr>
        <td th:text="${prime2.name}"></td>
        <td>Meltingpoint</td>
        <td th:text="${prime2.getMeltpoint()}"></td>
    </tr>
    <tr>
        <td th:text="${prime2.name}"></td>
        <td>Homopolymer</td>
        <td th:text="${prime2.getHomopolymer()}"></td>
    </tr>
    <tr>
        <td th:text="${prime2.name}"></td>
        <td>Intramolecular identity</td>
        <td th:text="${prime2.getIntraidentity()}"></td>
    </tr>
    <tr>
        <td th:text="${prime2.name}"></td>
        <td>Intermolecular identity</td>
        <td th:text="${prime2.getInteridentity()}"></td>
    </tr>
</table>
</body>
</html>